<launch>
  <!-- Launch MAVROS for IMU data -->
  <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
    <param name="fcu_url" value="udp://:14540@localhost:14557" />
    <param name="gcs_url" value="udp://@0.0.0.0:14550" />
    <param name="rate" value="15" />
  </node>

  <!-- Launch left Raspberry Pi Camera -->
  <node pkg="raspicam_node" type="raspicam_node" name="left_camera" output="screen">
    <param name="camera_name" value="left_camera" />
    <param name="framerate" value="15" />  <!-- Set frame rate to 15 Hz -->
    <param name="width" value="640" />
    <param name="height" value="480" />
  </node>

  <!-- Launch right Raspberry Pi Camera -->
  <node pkg="raspicam_node" type="raspicam_node" name="right_camera" output="screen">
    <param name="camera_name" value="right_camera" />
    <param name="framerate" value="15" />  <!-- Set frame rate to 15 Hz -->
    <param name="width" value="640" />
    <param name="height" value="480" />
  </node>

  <!-- Launch RTAB-Map SLAM node -->
  <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen">
    <param name="frame_id" value="left_camera" />
    <param name="subscribe_imu_data" value="true" />
    <param name="subscribe_stereo" value="true" />
  </node>

###########################################
##-Incorporate Object Detection Program--##
###########################################

  <!-- Launch object detection node -->
  <node pkg="your_package" type="object_detection.py" name="object_detection" output="screen">
    <param name="some_param" value="some_value" /> <!-- Add parameters as needed -->
  </node>
</launch>
</launch>
